<section class="main-header">

  <div class="logo-img">
  <img src="../../../../assets/img/logo.jpg">
</div>

<div class="menu-opcoes">

  <div class="menu-opcoes-btn">
    <button mat-raised-button color="primary" (click)="loginModal()">Ola!Entre</button>
  </div>

  <div class="menu-opcoes-btn">
    <button mat-raised-button color="primary" (click)="atendimentoModal()"> Atendimento</button>
  </div>

  <div class="menu-opcoes-btn">
    <button mat-raised-button color="primary"> Promoções</button>
  </div>

  <div class="menu-opcoes-btn">
    <button mat-raised-button color="primary"> Match💕PET</button>
  </div>



</div>


</section>





