
ul{
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  font-weight: bold;
  font-family: 'Brush Script Std', cursive;
  }

.main-header{
  display: flex;
  border: 1px solid black;
  background-color: #F28705;
}

.menu-opcoes{
  display:flex;
}

button{
  background-color: #f7c58991;
  border: 3px solid black;
  width: 205%;
  height: 40%;
}

img{
  width: 85%;
  height: 85%;
}



