
ul{
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  font-weight: bold;
  font-family: 'Brush Script Std', cursive;
  }

.main-header{
  display: flex;
  border: 1px solid black;
}


