

.container-titulo {
  color:#296CF2;
  display: flex;
  justify-content:center;
  margin-top: 3%;
  font-weight: bold;
  font-size: 25px;
}

.container-opcoes {
  font-weight: bold;
  font-size: 18px;
  color:#F28705;
}

main{background-color:#F2F2F2 ;}
