

.container-titulo {
  color:#296CF2;
  display: flex;
  justify-content:center;
  margin-top: 3%;
  font-weight: bold;
  font-size: 25px;
}

.container-opcoes {
  font-weight: bold;
  font-size: 18px;
  color:#F28705;
}

.btn-opcoes{
  background-color: #F69D25;
  width: 180px;
  height: 60px;
}

// main{background-color:#F2F2F2 ;}

p{

  text-align: center;
  font-weight: bold;
}

// img{
//   width: 450px;
//   height: 350px;

// }
p img{
  width: 10%;
  height: 10%;
}

.container-opcoes-img {
  border: 3px solid #296CF2;
  border-radius: 5px;
  box-shadow: 6px 3px 3px #A993E5;
  width:400px;
  height: 300px;



}
